html {
  font-size: 16px;
  font-family: "Century Gothic", sans-serif;
}
* {box-sizing: border-box;
}
body {
  margin: 0;
}
aside {
  flex-flow: row;
}
nav {
  background-color: slateblue;
  width: 100%;
  font-size: 1.5rem;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}
header {
  background-color: slateblue;
  font-size: 1.2rem;
  height: 30%;
  width: 100%;
  padding: 1em;
  border: 0;
}
header a {
  font-size: 1.2rem;
  color: white; 
  padding: 0 1em 5em 0;
}
header h1 {
  color: white;
  letter-spacing: 1px;
  text-align: right;
  font-size: 3rem;
  padding: 0;
 }
h2 {
  color: slateblue;
  font-size: 4rem;
  align-content:center;
  text-align: center;
}
div.item-container {
  background-color: lightsteelblue;
  opacity: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}
div.item {
  color: lightsteelblue;
  flex-wrap: wrap;
  align-content: center;
  max-width: 20em;
}
div.item p {
  font-size: 1rem;
  color: dimgray;
  align-content: center;
}
div.item h2{
  font-size: 1.5rem;
  color: slateblue;  
}
div.item img {
  max-width: 10em;
  height: auto;
  align-items: stretch;
}
