html {
  font-size: 16px;
  font-family: "Century Gothic", sans-serif;
}
* {box-sizing: border-box;
}
body {
  margin: 0;
  background: lightgray;
} 
aside {
  flex-flow: row;
}
nav {
  width: 100%;
  font-size: 1.5rem;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}
ul i {
  color: white;
}
header {
  background-image: url('../images/scarf-banner-cropped.jpg');
  background-attachment: scroll;
  background-position: center;
  display: flex;
  font-size: 1.5rem;
  width: 100%;
  padding: 1em;
  border: 0;
}
header a {
  font-size: 1.2rem;
  color: white; 
  padding: 0 1em 5em 0;
}
header h1 {
  color: white;
  letter-spacing: 1px;
  text-align: center;
  font-size: 3rem;
  padding: 0;
}
section {
  align-content: center;
  background-color: whitesmoke;
}
h2 {
  color: darkslateblue;
  font-size: 4rem;
  align-content: center;
  text-align: center;
}
@media only screen and (max-width: 200px) { 
  aside {
    background-color: darkseagreen;
  }
}
.item-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: whitesmoke;
  overflow: auto;
}
.item {
  padding: 20px;
  border: 2px solid lightgray;
  width: 75%;
  background-color: white;
}
.item p {
  font-size: 1rem;
  color: dimgray;
  padding: 5px;
}
.item h2 {
  font-size: 2.5rem;
  color: slateblue;
}
.item img {
  max-width: 60%;
}
.item img:hover {
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
}
