html {
  font-size: 16px;
  font-family: "Century Gothic", sans-serif;
}
* {box-sizing: border-box;
}
body {
  margin: 0;
}
div.item-container {
  background-color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
/*
div.item-container {
  background-color: black;
  color: white;
  margin: 20px 0 20px 0;
  padding: 20px;
  width: 60%;
  float: right;
  overflow: hidden;
}
*/

div.item {
  color: aqua;
  flex-wrap: wrap;
  align-content: center;
  max-width: 20em;
}
aside {
  flex-flow: 
}
/*
aside {
  border-width: medium; 
  border-style: solid;
  border-color: darkgray;
  padding: 10px 5px 25px 5px;
  text-align: left;
  width: 35%;
  float: left;
  overflow: hidden;
}
*/
header {
  background-color: black;
  font-size: 1.2rem;
  height: 30%;
  width: 100%;
  padding: 1em;
  border: 0;
}
header a {
  font-size: 1.2rem;
  color: white; 
  padding: 0 1em 5em 0;
  float: right;
}
header h1 {
  color: white;
  letter-spacing: 1px;
  clear: right;
  font-size: 3.5rem;
  padding: 0;
 }
h2 {
  color: red;
  font-size: 2rem;
  align-content:center;
  text-align: center;
}
img {
  max-width: 10em;
  height: auto;
  border-radius: 50%;
}
div.paragraphs {
  font-size: 1.5rem;
}
/*Reference CSS for practice:


header p {
  color: darkgray;
  font-size: 1.5rem;
}
nav {
  background-color: darkgray;
  width: 100%;
  font-size: 1.5rem;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}
li {
  float:left;
}
li a {
  display: block;
  color: purple;
  padding: 14px 16px;
  text-decoration: none;
  text-emphasis: bold;
  text-decoration: underline;
}
*/

/*
div.aside {
  width: 35%;
  float: left;
  overflow: hidden;
  margin: 20px;
}
aside {
  border-width: medium; 
  border-style: solid;
  border-color: darkgray;
  padding: 10px 5px 25px 5px;
  text-align: center;
}
aside figurecaption {
  font-size: 24px;
  text-align: center;
}
aside p {
  text-align: left;
  font-size: 16px;
}
aside a {
  float: right;
  color: red;
  }
aside h2 {
  padding: 2px 0 0 0;
}

footer {
  background-color: black;
  color: white; 
  height: 10rem;
  clear: both;
}
footer address {
  text-align: left;
  padding: 20px 0 0 10px;
  line-height: 20px;
}
footer p {
  text-align: center;
  padding: 40 0 0 0;
  border: 0;
  margin: 0;
}
footer a {
  color: red;
}

*/